* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 1400px;
}

.header {
  position: relative;
  margin-bottom: 50px;
}

.logo-top {
  position: absolute;
  max-width: 150px;
  top: 25px;
  left: 25px;
}

.header__inner-img {
  max-width: 100%;
}

.header__inner-title {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  font-size: 58px;
  color: white;
  text-align: center;
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.feature {
  display: flex;
  flex-direction: row;
  margin: 25px;
}

.feature-info {
  width: 30%;
  margin: 25px;
}

.feature-title {
  font-size: 32px;
  margin-bottom: 35px;
  text-align: center;
}

.feature-text {
  font-size: 20px;
  line-height: 1.75;
}

.feature-img {
  max-width: 70%;
}

.outdoor {
  position: relative;
  margin-bottom: 50px;
}

.outdoor-img {
  max-width: 100%;
}

.outdoor-title {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  font-size: 58px;
  color: white;
  text-align: center;
}

.materials {}

.materials-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

.materials-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.material {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 50px 20px;


}

.material-img {
  width: 90%;
  margin-bottom: 15px;
  border: 1px solid lightgrey;
}

.material-title {
  font-size: 24px;
}

.footer {
  display: flex;
}

.logo-copy-wrapper {
  display: flex;
}

.logo {
  height: 30px;
}

.copyright {}

.social {
  display: flex;

}

.social-item {
  margin: 20px;
}