* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 1400px;
}

.header {
  position: relative;
  margin-bottom: 50px;
}

.logo-top {
  position: absolute;
  max-width: 150px;
  top: 25px;
  left: 25px;
}

.header__inner-img {
  max-width: 100%;
  max-height: 100%
}

.header__inner-title {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  font-size: 58px;
  color: white;
  text-align: center;
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.feature {
  display: flex;
  flex-direction: row;
  margin: 25px;
}

.feature-info {
  width: 30%;
  margin: 25px;
}

.feature-title {
  font-size: 32px;
  margin-bottom: 35px;
  text-align: center;
}

.feature-text {
  font-size: 20px;
  line-height: 1.75;
}

.feature-img {
  max-width: 70%;
}

.outdoor {
  position: relative;
  margin-bottom: 50px;
}

.outdoor-img {
  max-width: 100%;
}

.outdoor-title {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  font-size: 58px;
  color: white;
  text-align: center;
}

.materials-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.materials-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.material {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 50px 20px;
}

.material-img {
  width: 90%;
  margin-bottom: 15px;
  border: 1px solid lightgrey;
}

.material-title {
  font-size: 24px;
}

.footer {
  display: flex;
  align-items: center;
}

.logo-copy-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  height: 30px;
  margin: 25px;
}

.social {
  display: flex;

}

.social-item {
  color: black;
  text-decoration: none;
  margin: 20px;
  cursor: pointer;
}

@media(max-width: 1140px) {
  .header {
    margin-bottom: 0px;
  }

  .header__inner-title {
    font-size: 48px;
  }

  .feature {
    flex-direction: column;
    align-items: center;
  }

  .feature-info {
    width: 70%;
    margin: 25px;
  }
}

@media(max-width: 950px) {
  .header__inner-title {
    font-size: 38px;
  }

  .features-wrapper {
    margin-bottom: 0px;
  }

  .outdoor-title {
    font-size: 38px;
  }

  .materials-title {
    font-size: 20px;
  }

  .material-title {
    font-size: 18px;
  }

}

@media(max-width:755px) {
  .logo-top {
    max-width: 100px;
    top: 15px;
    left: 15px;
  }

  .header__inner-title {
    font-size: 28px;
  }

  .feature {
    margin-bottom: 10px;
  }

  .feature-title {
    font-size: 24px;
  }

  .feature-text {
    font-size: 18px;
    line-height: 1.2;
  }

  .outdoor-img {
    margin-top: 15px;
  }

  .outdoor-title {
    font-size: 28px;
  }

  .material {
    margin-bottom: 15px;
  }

  .footer {
    flex-wrap: wrap;
  }

}

@media(max-width:570px) {
  .logo-top {
    max-width: 75px;
    top: 15px;
    left: 15px;
  }

  .header__inner-title {
    font-size: 24px;
  }

  .feature {
    margin: 10px;
  }

  .feature-title {
    font-size: 20px;
  }

  .feature-text {
    font-size: 16px;
    line-height: 1.2;
  }
}

@media(max-width:440px) {
  .header__inner-title {
    font-size: 20px;
  }

  .outdoor-title {
    font-size: 20px;
  }

  .social {
    display: inline;
  }

  .social-item {
    display: block;
  }
}

@media(max-width:400px) {
  .header__inner-title {
    font-size: 14px;
  }

  .feature-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .feature-text {
    font-size: 14px;
    line-height: 1.2;
  }

  .outdoor-title {
    font-size: 16px;
  }

  .material {
    margin: 10px;
  }

  .material-img {
    margin-bottom: 10px;
  }

  .materials-title {
    font-size: 18px;
  }

  .material-title {
    font-size: 16px;
  }

  .logo-copy-wrapper {}

  .copyright {
    margin: 15px;
  }
}